* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: none;
}

body {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
  text-align: justify;
}

.navbar .container-fluid {
  top: 0;
  z-index: 1;
}

.navbar-nav li:hover {
  background-color: greenyellow;
  border-radius: 15px;
}

a :hover {
  color: blue;
}

.ul .li .a:hover {
  background-color: yellow;
}

span {
  background-color: lightgoldenrodyellow;
  color: blue;
  border: 5px black solid;
  border-radius: 10px;
  padding: 5px;
}
span:hover {
  background-color: cyan;
  color: red;
}
.hero {
  background-image: url("img/bgtest.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-position-y: auto;
  width: 100%;
  height: 100vh;
  display: flex;
}

img {
  border: 8px black solid;
  width: 100%;
  height: auto;
  margin: 8px;
}

h5 {
  color: rebeccapurple;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

h6 {
  font-weight: 400;
  text-align: center;
  justify-content: center;
  margin: 10px;
}

section {
  display: flex;
}

.section .smart {
  display: flex;
  float: right;
}
