* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: justify;
}

.wrapper {
  width: 900px;
  margin: 10px;
  position: relative;
  text-align: center;
}

.logo a {
  font-size: 50px;
  font-weight: 650;
  margin: 30px;
  font-family: tahoma;
}

.logo a:hover {
  color: blueviolet;
}

span {
  color: blue;
  font-weight: 1000;
}
span:hover {
  color: red;
}

.judul ul li {
  text-decoration: none;
  display: flex;
  height: 20px;
  border: 5px blue solid;
  margin: auto;
}

.judul ul h5 {
  text-align: center;
  justify-content: center;
  background-color: black;
  height: 30px;
  border: 7px white solid;
}

.judul ul h5:hover {
  background-color: blue;
}
nav {
  width: 100%;
  display: inline-block;
  line-height: 25px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: yellow;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  font-size: medium;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav ul li {
  float: right;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

nav ul li a {
  font-weight: bold;
  text-align: center;
  padding: 3px 3px 3px 3px;
  height: 20px;
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
}

nav ul li a:hover {
  border-radius: 10px;
  background-color: aqua;
}

.kolom deskripsi {
  font-family: sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 25px;
  width: 100%;
  height: 50px;
  margin: 20px;
  right: 20px;
  text-align: center;
  justify-content: center;
}

h3 {
  text-align: center;
  font-size: 22px;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}

h4 {
  text-decoration: none;
  background: black;
  color: white;
  font-size: large;
  text-align: center;
  width: 155px;
  height: 32px;
  padding: 17px;
  margin: 6px;
  border-radius: 20px;
  justify-content: center;
  float: right;
  cursor: pointer;
  border: 7px wheat solid;
}

#menu h4 {
  width: 130px;
}
#menu h4:hover {
  background-color: blue;
  color: yellow;
}

#Software h4:hover {
  background-color: blueviolet;
  color: yellow;
}

#Hardware h4:hover {
  background-color: blueviolet;
  color: yellow;
}

.tes {
  justify-content: center;
  padding: 22px;
}

H5 {
  font-family: sans-serif;
  margin: 3px 5px 3px 3px;
  background: blue;
  color: yellow;
  font-size: large;
  border-radius: 18px;
  padding: 7px;
  height: 23px;
  width: 100px;
  text-align: center;
}
#menu h5:hover {
  background-color: black;
}

h6 {
  font-size: larger;
  color: red;
  text-align: center;
}

h6:hover {
  color: blue;
}

p {
  margin: 5px 5px 5px 5px;
  text-align: left;
  padding: 2px;
  height: auto;
}
p:hover {
  background-color: blanchedalmond;
}
@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 95%;
  }
}

.logo a {
  display: block;
  width: 100%;
  text-align: center;
}

nav .menu {
  width: 100%;
  margin: 30px;
}

nav .menu ul {
  text-align: center;
  line-height: 100px;
}

nav .menu ul li {
  display: inline-block;
}
section {
  display: flex;
  color: aqua;
}
section img {
  width: 100%;
  height: auto;
}

.copyright {
  text-align: center;
  margin: 10px;
}

#IT h4 {
  background-color: blue;
  border: 6px yellow solid;
  width: 140px;
  float: right;
  padding: 17px;
}
#IT h4:hover {
  background-color: blueviolet;
  color: yellow;
}

.gadget {
  display: flex;
  border-color: aqua;
}

#com {
  width: 100px;
  padding: 20px;
  height: 450px;
}

#com .Komputer h5 {
  justify-content: center;
  display: flex;
  float: right;
}

#com h5:hover {
  background-color: black;
}

#hp {
  width: 100px;
  padding: 20px;
  height: 450px;
}

#hp .android h5 {
  justify-content: center;
  display: flex;
  float: right;
}

#hp h5:hover {
  background-color: black;
}

s img {
  display: flex;
}
