* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: justify;
}

.wrapper {
  width: 700px;
  margin: 10px;
  position: relative;
  text-align: center;
}

.logo a {
  font-size: 70px;
  font-weight: 550;
  border: 50px;
  margin: 10px;
  font-family: Cambria;
}

span {
  color: blue;
  font-weight: 1000;
}

.judul .ul .li {
  text-decoration: none;
  position: static;
  left: 50px;
  display: inline-block;
}

nav {
  width: 100%;
  display: inline-block;
  line-height: 40px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: aqua;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  font-size: bold xx-large;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav ul li {
  float: right;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

nav ul li a {
  font-weight: bold;
  text-align: center;
  padding: 15px 20px 15px 25px;
  height: 20px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.kolom .deskripsi {
  font-weight: bold;
  font-family: sans-serif;
}

s h2 {
  font-weight: 700;
  font-size: 30px;
  width: 90%;
  height: 50px;
  margin: 20px;
  text-align: center;
}

h3 {
  text-align: center;
  top: 50px;
  width: 100px;
  font-size: 22px;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

h4 {
  text-decoration: none;
  background: black;
  color: yellow;
  font-size: medium;
  text-align: center;
  width: 175px;
  height: 30px;
  padding: 15px;
  margin: 5px;
  border-radius: 20px;
  justify-content: center;
  float: right;
}

H5 {
  font-family: sans-serif;
  margin: 1px 5px;
  background: blue;
  color: yellow;
  font-size: x-large;
  border-radius: 20px;
  padding: 7px;
  text-align: center;
  border: 150px;
  justify-content: center;
}

h6 {
  font-size: large;
  color: crimson;
  text-align: center;
}

p {
  margin: 35px;
  text-align: center;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }
}

.logo a {
  display: block;
  width: 100%;
  text-align: center;
}

nav .menu {
  width: 100%;
  margin: 20px;
}

nav .menu ul {
  text-align: center;
  line-height: 100px;
}

nav .menu ul li {
  display: inline-block;
}
section {
  display: flex;
  color: blue;
}
section img {
  width: 80%;
  height: auto;
}

.copyright {
  text-align: center;
  margin: 0;
}
